* {
  font-family: "Source Sans Pro Topnav", sans-serif;
  font-size: 15px;
  
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat {
  max-width: 1200px;
  width: 100%;
  height: 100px;
  border-top: #d1d5db solid 1px;
  text-align: center;
  line-height: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.text {
  width: 800px;
  height: 80px;
}

.wrap {
  display:block;
  height: 80px;
}

.smod {
  height: 30px;
  width: 150px;
  max-width: 150px;
  margin-top: 6px;
}

.send {
  height: 30px;
  width: 150px;
  max-width: 150px;
  margin-top: 6px;
}

.hist {
  position: absolute;
  top: 4px;
  left: 5px;
  height: 30px;
  width: 30px;
}

.info {
  position: absolute;
  top: 4px;
  right: 5px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: bold;
  cursor:pointer;
}

.user-wrap {
  display: flex;  
  align-items: right;
  justify-content: right;
}
.user {
  margin: 1px;
  padding: 8px 10px;
  max-width: 800px;
  border-radius: 8px;
  background-color: #f5f5f5;
  text-align: left;
  white-space: pre-wrap;
}

.assistant-wrap {
  display: flex;  
  align-items: left;
  justify-content: left;
}
.assistant {
  margin: 4px;
  padding: 0px 8px;
  max-width: 800px;
  border-radius: 8px;
  text-align: left;
}

pre {
  border-radius: 8px;
  background-color: #1e1e1e;
  font-family: monospace;
}

code, span {
  font-family: monospace;
  font-size: 13px;
}

textarea {
  width: 800px;
  height: 80px;
  resize: none;
  padding: 8px;
  color: #1f2937;
  background: linear-gradient(180deg, #ffffff, #f9fafb);
  border: 1.5px solid #d1d5db;
  border-radius: 10px;
}
