* {
  font-family: "Source Sans Pro Topnav", sans-serif;
  font-size: 15px;  
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.chat {
  max-width: 1200px;
  width: 100%;
  height: 100px;
  border-top: #d1d5db solid 1px;
  text-align: center;
  line-height: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.text {
  width: 800px;
  height: 80px;
}

.wrap {
  display:block;
  height: 80px;
}

.smod {
  height: 30px;
  width: 150px;
  max-width: 150px;
  margin-top: 6px;
}

.send {
  height: 30px;
  width: 150px;
  max-width: 150px;
  margin-top: 6px;
}

.hist {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 20px;
  cursor: pointer;
}

.qdel {
  position: absolute;
  top: 9px;
  left: 60px;
  height: 16px;
  cursor: pointer;
}

.qnew {
  position: absolute;
  top: 7px;
  left: 80px;
  height: 20px;
  cursor: pointer;
}

.info {
  position: absolute;
  top: 8px;
  right: 12px;
  height: 22px;
  cursor: pointer;
}

.user-wrap {
  display: flex;  
  align-items: right;
  justify-content: right;
}

.user {
  margin: 1px;
  padding: 8px 10px;
  max-width: 800px;
  border-radius: 8px;
  background-color: #f5f5f5;
  text-align: left;
  white-space: pre-wrap;
}

.assistant-wrap {
  display: flex;  
  align-items: left;
  justify-content: left;
}
.assistant {
  margin: 4px;
  padding: 0px 8px;
  max-width: 800px;
  border-radius: 8px;
  text-align: left;
}

.hist_popup {
  position: fixed;
  top: 30px;
  left: 0px;
  width: 460px;
  height: calc(100% - 52px);
  background-color: #fff;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
  padding: 10px 0px;
  overflow-y: auto;
  display: none;
}

.hist_popup_entry {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap-mode: nowrap;
  padding: 6px;
  cursor: pointer;
}

.hist_popup_date {
  font-size: 10px;
  font-style: italic;
  color: #888;
  padding-bottom: 2px;
}

.hist_copy {
  float: right;  
  padding: 6px;
  height: 12px;
  cursor: pointer;
}

pre {
  border-radius: 8px;
  background-color: #1e1e1e;
  font-family: monospace;
}

code, span {
  font-family: monospace;
  font-size: 13px;
}

textarea {
  width: 800px;
  height: 80px;
  resize: none;
  padding: 8px;
  color: #1f2937;
  background: linear-gradient(180deg, #ffffff, #f9fafb);
  border: 1.5px solid #d1d5db;
  border-radius: 10px;
}
